# Assignment 4

- Write a program to find the Factorial of a Number?

In [1]:
# this will give factor or any positive intiger
def fact(num):
    if num<2:
        return 1
    return num*fact(num-1)

- Write a program to display the multiplication Table?

In [2]:
def table(num):
    num = int(num)
    for i in range(1,11):
        print("{} * {} = {}".format(num,i,num*i))

- Write a program to print the Fabonacci sequence?

In [3]:
# Give the nmber of terms yo want to print:
def fibo(num):
    a,b = 0,1  #initlising first 2 values
    for i in range(num):
        print(a, end=", ")
        temp = b
        b = a+temp
        a = temp

- Program to check Armstrong Number?

In [17]:

def is_Armstrong(num):
    numm,summ = int(num),0
    poww = len(str(num))
    while(numm):
        a = numm%10
        numm=numm//10
        summ += a**poww
    return int(num) == summ

- Write a python Program to Find Armstrong Number in an interval?

In [5]:
def btw_armstrong(first, last):
    for i in range(first+1,last): # this will give between values(mns without first and last number)
        if is_Armstrong(i):
            print(i, end=", ")

- Write a program to Find the Sum of Natural Numbers?

In [6]:
def sum_of_natural(num):
    return (num*(num+1))/2

# Solution

## First :

In [7]:
# factorial of a number:
n = int(input("Enter the number for factroial : "))
fact(n)

Enter the number for factroial : 25

15511210043330985984000000

## Second :

In [8]:
# multiplication table of a number :
n = int(input("Enter the number for printing table : "))
table(n)

Enter the number for printing table : 25
25 * 1 = 25
25 * 2 = 50
25 * 3 = 75
25 * 4 = 100
25 * 5 = 125
25 * 6 = 150
25 * 7 = 175
25 * 8 = 200
25 * 9 = 225
25 * 10 = 250

## Third :

In [9]:
#Fibnoic Series up to "n" number of terms :
n = int(input("Enter number to print fibnoic series to n terms :"))
fibo(n)

Enter number to print fibnoic series to n terms :25
0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368,

## Forth :

In [15]:
# to check a number is armstrong or not :
n = int(input("Enter number to check is armstrong or not :"))
is_Armstrong(n)

Enter number to check is armstrong or not :1634

False

## Fifth :

In [19]:
# to print all armstrong number between series:
first= int(input("Enter First number:"))
last = int(input("Enter Last number :"))
btw_armstrong(first, last)

Enter First number:10
Enter Last number :10000
153, 370, 371, 407, 1634, 8208, 9474,

## Sixth :

In [20]:
# Sum of n natural numbers : 
num = int(input("Enter number"))
sum_of_natural(num)

Enter number20

210.0