## Assignment 2

- Write a Python Program to convert kilometers to miles?

In [1]:
def km_to_mile(num):
    return num*0.621

- Write a Python Program to convert Celsius to Fahrenheit?

In [2]:
def cel_to_far(cel):
    return (cel*9/5) + 32

- Write a Python Program to display calendar?

In [4]:
# importing calendar
import calendar

def print_calender(yy):
    print(calendar.calendar(yy))

- Write a Python Program to solve quadratic equaton?

In [48]:
from math import sqrt
# this function take three values a,b,c ---> (a*x^2 + b*x + c) 
def quad_sol(a,b,c):
    d = (b**2 - (4*a*c))
    if d > 0:
        d = sqrt(d)
        x1 = (d-b)/2*a
        
        x2 = (-b-d)/2*a
        print("x1 : ", x1, "  x2 : ", x2)
    else:
        print("root are not real !")

- Write a Python Program to swap two variables without temp variable?

In [33]:
def my_swap(num1, num2):
    num1, num2 = num2, num1
    return num1, num2

## Solution

In [45]:
# 1 : kilometer to mile
# First
print("15 km -> ",km_to_mile(15), "miles")
print("10 km -> ",km_to_mile(10), "miles")

15 km ->  9.315 miles
10 km ->  6.21 miles

In [46]:
# 2 : degree conversion

print(" 25 C -> ", cel_to_far(25), "F")
print(" 100 C -> ", cel_to_far(100), "F")
print(" 0 C -> ", cel_to_far(0), "F")

 25 C ->  77.0 F
 100 C ->  212.0 F
 0 C ->  32.0 F

In [47]:
# 3 : print year calender
year = int(input("Type year which need to print : "))
print_calender(year)

Type year which need to print : 1997
                                  1997

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

In [54]:
# 4 : Solving Quadritic Equation:
quad_sol(2,4,1)

x1 :  -1.1715728752538097   x2 :  -6.82842712474619

In [53]:
quad_sol(2,3,1)

x1 :  -2.0   x2 :  -4.0

In [58]:
#  5: swap
num1, num2 = 10, 50
print("Old Numbers")
print("num1 : ", num1, " num2 : ", num2)
num1, num2 = my_swap(num1, num2)
print("Swap Numbers")
print("num1 : ", num1, " num2 : ", num2)

Old Numbers
num1 :  10  num2 :  50
Swap Numbers
num1 :  50  num2 :  10